anotacoes.md
desafio-fundamentos-basicos.py
POO/06_Decoradores
Data-Hora-Arquivos-Pacotes/1_datetime.py
Data-Hora-Arquivos-Pacotes/2_arquivos.py
Python-DB-API/conexao.py
Introducao-Desenvolvimento-Web/.venv
Introducao-Desenvolvimento-Web/TDD-Project
Introducao-Desenvolvimento-Web/WORKOUT-API
Introducao-Desenvolvimento-Web/requirements.txt